
{% block styles %}

{% endblock %}

{% block title %}
    Behavior
{% endblock %}

{% block content %}
<br>


<style>
    .text {
        font-size: 19px
    }
    .radio-column{
      width:5%;
      min-width:43px;
      max-width:80px;
      text-align: center;
    }


    h2{
      text-align: left;
    }


    th, td {
        padding: 1vh;
      }

    #nextst, .otree-btn-next{
        background-color: #26a69a;
        text-transform: uppercase;
        border-radius: 0%;
        border-color: #26a69a;
        color: white;
        box-shadow: 1pt 1pt 4pt 1pt slategray;
        margin-bottom: 10px;
    }
    
    #nextst:hover:enabled, .otree-btn-next:hover {
        letter-spacing: 1pt;
        box-shadow: 1pt 1pt 4pt 2pt slategray;
        background-color: #26a69a;
        border-color: #26a69a;
    }
    
    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #2bbbad;
        border-color: #2bbbad;
    }
</style>


<div class="text"> 
    <br>
    {{ formfield 'footprint_regional' }}
    <br>
    {{ formfield 'footprint_electricity' }}
    <br>

    <br>

</div>

</div>

<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh; background-color:  #26a69a;  border-color: #26a69a; letter-spacing: 1pt;">
            {% next_button %} 
    </div>
</div> 
{{ endblock }}
