{% block styles %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .behavior-container {
        margin-bottom: 15px;
        font-weight: plain;
    }
    .behavior-label {
        font-weight: plain;
        line-height: normal;
    }
    select {
        margin-left: 10px;
    }
    h1 {
        color: #000000;
        font-size: 40px;
    }
    .container {
    display: flex;
    flex-direction: row; /* Always side by side */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }

    /* Columns always next to each other */
    .left-column {
        flex: 0 0 60%;
        padding: 10px;
        box-sizing: border-box;
    }

    .right-column {
        flex: 0 0 40%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #total-footprint-top,
    #total-footprint-bottom {
        font-size: 32px;
        text-align: center;
    }


    /* Make everything scale better on small screens */
    @media (max-width: 760px) {
        body {
            font-size: 14px;
        }

        .left-column {
        flex: 0 0 55%;
        padding: 5px;
        }

        .right-column {
            flex: 0 0 45%;
            padding: 5px;
        }

        .progress-bar-container {
        width: 100px !important;
        height: 280px !important;
        border-width: 2px !important;
        }

        h2 {
            font-size: 16px !important;
            text-align: center;
        }

        #total-footprint {
            font-size: 18px !important;
            text-align: center;
        }

        #total-footprint-top,
        #total-footprint-bottom {
            font-size: 18px !important;
            text-align: center;
        }

        .progress-bar-section {
            transition: height 0.3s;
        }

        select {
            font-size: 14px;
            width: 100%;
        }

        .behavior-label {
            font-size: 14px;
            line-height: normal;
        }
    }


    h2 {
        font-weight: plain;
        color: #000000;
        font-size: 28px;
        padding-left: 5px;
        text-align: center;
    }
    .progress-bar-wrapper {
        padding: 1px 5px 5px 20px; /* top right bottom left */
    }
    .progress-bar-container {
        width: 140px;
        height: 380px; /* Represents 10 tons CO₂eq */
        background-color: #ffffff;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        border-left: none;
        border-right: none;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse; /* Fill from bottom up */
        margin-top: 1px;
    }
    .progress-bar-section {
        width: 100%;
        transition: height 0.4s;
    }
    .section-1 { background-color: #CBE4F9;border: 1px solid rgb(65, 64, 64); } /* Color for Diet */
    .section-2 { background-color: #CDF5F6;border: 0.4px solid rgb(65, 64, 64);  } /* Color for laundry */
    .section-3 { background-color: #F9D8D6;border: 1px solid rgb(65, 64, 64); ; } /* Color for Recycling before was 5 */ 
    .section-4 { background-color: #F9EBDF;border: 0.4px solid rgb(65, 64, 64); ; }/* Color for Food */
    .section-5 { background-color: #EFF9DA;border: 0.4px solid rgb(65, 64, 64); ; } /* Color for commute */
    .section-6 { background-color: #D6CDEA;border: 1px solid rgb(65, 64, 64);  } /* Color for Vacation */

    /* Add corresponding background colors for the select elements */
    .select-diet { background-color: #CBE4F9; }
    .select-laundry { background-color: #CDF5F6; }
    .select-recycling { background-color: #F9D8D6; }
    .select-food { background-color: #F9EBDF; }
    .select-commute { background-color: #EFF9DA; }
    .select-vacation { background-color: #D6CDEA; }
</style>
{% endblock %}

{% block content %}


    <h1>CO<sub>2</sub>-Fussabdruck Rechner</h1>
    <br>
<body style="font-size: 21px;">
    <p style="font-size: 21px;"> 
        Durch Anklicken der Boxen können Sie verschiedene Stufen für die einzelnen Verhaltensweisen auswählen.<br>
        Der zugehörige gesamte CO<sub>2</sub>-Fussabdruck der ausgewählten Verhaltensweisen wird auf der rechten Seite des Bildschirms aktualisiert
        Der Balken füllt sich mit verschiedenen Farben je nach ausgewähltem Verhalten, wobei jede Farbe die Menge an Kohlenstoffemissionen darstellt, die das Verhalten pro Jahr verursacht.<br>
        <br><br>
        <b> Bitte erstellen Sie 2 CO<sub>2</sub>-Fussabdrücke, die so nah wie möglich an 3,0 liegen (es gibt mindestens 5 Möglichkeiten)</b>.<br> Danach können sie fortfahren
    </p>
    <br>


    
    <div class="container"> 
        <div class="left-column"> 
            <form id="carbon-footprint-form">
                <!-- Explicitly set classes for each behavior -->
                <div class="behavior-container">
                    <label class="behavior-label">Ernährung (basierend auf dem durchschnittlichen Kalorienbedarf von 2000kcal eines Erwachsenen für 1 Jahr) </label>
                    <select class="select-diet" name="diet" onchange="updateTotalFootprint()">
                        <option value="2.206">Fleisch-basiert</option>
                        <option value="1.338">Vegetarisch</option>
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Wäsche trocknen (basierend auf 3 Ladungen pro Woche für 1 Jahr und einem durchschnittlichen Energiemix) </label>
                    <select class="select-laundry" name="laundry" onchange="updateTotalFootprint()">
                        <option value="0.00">lässt die Wäsche lufttrocknen</option>
                        <option value="0.039">gewöhnlicher, vollbeladener Trockner </option> 
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Arbeitsweg (20 Kilometer täglich zur und von der Arbeit (eine Fahrt =10km), 5 Tage pro Woche während 48 Wochen pro Jahr) </label>
                    <select class="select-commute" name="commute" onchange="updateTotalFootprint()">
                        <option value="0.471">Mit dem Bus</option>
                        <option value="1.595">Mit dem eigenen Auto</option>
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Recycling (Materialien wie Papier, Glas, Metalle für ein Jahr) <br>  </label>
                    <select class="select-recycling" name="recycling" onchange="updateTotalFootprint()">
                        <option value="0.0575">Recycelt nicht</option>
                        <option value="0">Recycelt</option>
                    </select>
                </div>

            
                <div class="behavior-container">
                    <label class="behavior-label">Lebensmittel (gekaufte und verbrauchte Lebensmittel und Getränke für 1 Jahr)</label>
                    <select class="select-food" name="food" onchange="updateTotalFootprint()">
                        <option value="0.44">Mehr als 3/4 ist importiert</option>
                        <option value="0.00">Mehr als 3/4 ist regional</option>
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Urlaubsreisen <br> </label>
                    <select class="select-vacation" name="vacation" onchange="updateTotalFootprint()">
                        <option value="1.2">fliegt 1x 3-6 Stunden Hin-& Rück</option>
                        <option value="0.0076">Per Zug (fliegt nicht) </option>
                    </select>
                </div>
            </form>
            <br>
        </div>
        
        <div class="right-column"> 
            <h2>Gesamter Fussabdruck in Tonnen CO<sub>2eq</sub>:</h2> 
            <span id="total-footprint-top">Klicken Sie auf die Verhaltensweisen, um es herauszufinden</span>
            <div class="progress-bar-wrapper"></div>
                <div class="progress-bar-container">
                    <!-- Sections for each behavior -->
                    <div class="progress-bar-section section-6" id="section-6"></div> <!-- Vacation -->
                    <div class="progress-bar-section section-4" id="section-4"></div> <!-- Food -->
                    <div class="progress-bar-section section-3" id="section-3"></div> <!-- commute -->
                    <div class="progress-bar-section section-5" id="section-5"></div> <!-- rec -->
                    <div class="progress-bar-section section-1" id="section-1"></div> <!-- Diet -->
                    <div class="progress-bar-section section-2" id="section-2"></div> <!-- Laundry -->
                </div>
                <br>
            <span  id="total-footprint-bottom">Klicken Sie auf die Verhaltensweisen, um es herauszufinden</span>
            <br>
        </div>
    </div>

    <script>
        const behaviorData = {{ behavior_data|safe }};
//        const totalFootprintElement = document.getElementById('total-footprint');
        const totalFootprintTop = document.getElementById('total-footprint-top');
        const totalFootprintBottom = document.getElementById('total-footprint-bottom');
        const sections = [
            document.getElementById('section-1'),
            document.getElementById('section-2'),
            document.getElementById('section-3'),
            document.getElementById('section-4'),
            document.getElementById('section-5'),
            document.getElementById('section-6')
        ];
        const minFootprint = 0;
        const maxFootprint = 5.54;  // Container represents up to 10 tons CO2eq

        function updateTotalFootprint() {
            let totalFootprint = 0.0;
            const selects = document.querySelectorAll('.behavior-container select');
            let values = [];

            selects.forEach(select => {
                const value = parseFloat(select.value);
                if (!isNaN(value)) {
                    values.push(value);
                    totalFootprint += value;
                }
            });

            // Make sure the total footprint doesn't exceed the max footprint (6 tons in this case)
            totalFootprint = Math.min(Math.max(totalFootprint, minFootprint), maxFootprint);
            //totalFootprintElement.innerText = totalFootprint.toFixed(2);
            totalFootprintTop.innerText = totalFootprint.toFixed(2);
            totalFootprintBottom.innerText = totalFootprint.toFixed(2);

            // Calculate the proportionate height of each section
            const totalHeight = (totalFootprint / maxFootprint) * 100;
            values.forEach((value, index) => {
                const sectionHeight = (value / totalFootprint) * totalHeight;
                sections[index].style.height = `${sectionHeight}%`;
            });

            // Check if the total footprint is exactly 5.54, and enable the "Next" button if true
            const nextButton = document.getElementById("nextst");
            if (parseFloat(totalFootprint) >= 2.8 && parseFloat(totalFootprint) <= 3.2) {

                nextButton.disabled = false;
            } else {
                nextButton.disabled = true;
            }
        }
            // Initial calculation
        updateTotalFootprint();
  

    </script>




    <div >
        <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Weiter </button>

    </div>

</body>
{% endblock %}