{% block styles %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .behavior-container {
        margin-bottom: 20px;
        
    }
    .behavior-label {
        font-weight: bold;
        
    }
    select {
        margin-left: 10px;
    }
    h1, h2 {
        color: #000000;
        font-size: 40px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .left-column {
        flex: 2.5;
        padding: 30px;
        box-sizing: border-box;
    }
    .right-column {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }
    h2{
        font-weight: plain;
        color: #000000;
        font-size: 38px;
    }
</style>
{% endblock %}

{% block content %}

    <h1>Carbon Footprints </h1>
    <br>
    
<body style="font-size: 19px; "> 
    <p style="font-size: 19px; "> Um Ihnen weitere Informationen über den CO<sub>2</sub>-Fussabdruck zu geben, sehen Sie hier einige verschiedene Kombinationen von Verhaltensweisen und wie sich diese auf die Gesamtgröße des Kohlenstoff-Fußabdrucks auswirken. <br> 
    </p>


    <p style="font-size: 19px; "> Nachfolgend sehen Sie zwei Beispiele für verschiedene Lebensstile mit unterschiedlichen CO<sub>2</sub>-Fussabdrücken, die auf den 6 vorgestellten Verhaltensweisen basieren:  
        <br>
        <br>
        <b>Ein CO<sub>2</sub>-armer Lebensstil:</b> <br>
        <img style="width:75%; height: 75%; border: #000000 3px outset; " src="/static/global/images/ExampleLow_de.png">
        <br>
        <br>
        <b>Ein moderater CO<sub>2</sub> Lebensstil könnte wie folgt aussehen:</b>  <br>
        <img style="width:75%; height: 75%;  border: #000000 3px outset; " src="/static/global/images/ExampleMid_de.png">
        <br>
    </p>

</body>
<body>   
    <script>
     

        window.onload = function () {
            setTimeout(function () {
                document.getElementById("nextst").disabled = false;
            }, 9000); // 9 seconds delay
        };

    
    </script>

    <div >
        <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Weiter </button>

    </div>

</body>
{% endblock %}