{% block styles %}
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 1.1rem;
    }
    .behavior-container {
        margin-bottom: 20px;
        
    }
    .behavior-label {
        font-weight: bold;
        
    }
    select {
        margin-left: 10px;
    }
    h1, h2 {
        color: #000000;
        font-size: 40px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .left-column {
        flex: 2.5;
        padding: 30px;
        box-sizing: border-box;
    }
    .right-column {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }
    h2{
        font-weight: plain;
        color: #000000;
        font-size: 38px;
    
    }

   
</style>
{% endblock %}

{% block content %}


<h1>CO<sub>2</sub>-Fussabdrücke</h1>
<br>
<body style="font-size: 19px; ">
    <p style="font-size: 19px; "> 
        Ein persönlicher CO<sub>2</sub> -Fussabdruck bezieht sich auf die Gesamtmenge an Treibhausgasen (einschließlich CO<sub>2</sub>  und Methan), die aufgrund des Verhaltens einer Person in die Atmosphäre ausgestoßen wird. <br> 
        Der CO<sub>2</sub> -Fussabdruck umfasst somit Emissionen aus dem Fahrverhalten, Fliegen, dem Verbrauch von Strom, der Kühlung oder Heizung Ihres Zuhauses, dem Kauf von Waren und anderen Quellen. <br>
    <br> Mit anderen Worten, ein <b>persönlicher CO<sub>2</sub>-Fussabdruck spiegelt die gesamte Auswirkung einer Person auf das Klimasystem wider</b>.
        <br>   <br>
        Auf der nächsten Seite sehen Sie einige Beispiele von CO<sub>2</sub>-Fussabdruck in Tonnen CO<sub>2</sub>. <br>
        Anschliessend beantworten Sie noch 3 Fragen und dann geht es mit der Hauptaufgabe der Studie weiter. Da können Sie das Wissen, dass Sie durch die Beispiele und Informationen gewonnen haben anwenden. <br><br>

    <p>
    <p style="font-size: 19px; "> 
        Um Ihnen weitere Informationen über CO<sub>2</sub>-Fussabdrücke zu geben, sehen Sie hier einige verschiedene Verhalten. <br>
        Die verschiedenen Fussabdrücke beziehen sich auf 6 Beispielverhalten: <ul style="font-size: 19px; "> <ul> 
            <li> <b>Ernährungsverhalten (basierend auf 2000 kcal):</b> Die betreffende Person folgt entweder einer <b>Fleisch-basierten Ernährung </b> oder einer <b>Pflanzen-basierten Ernährung (vegetarisch)</b>  </li>
            <li> <b>Regionalität der Lebensmittel:</b> Die betreffende Person kauft und konsumiert entweder <b>hauptsächlich regionale Lebensmittel </b> oder <b>auch importierte</b> Lebensmittel </li>
            <li> <b>Urlaubsreisen:</b> Die betreffende Person nimmt entweder <b>1 Mittelstreckenflüge Hin-und Zurück pro Jahr (=3-6 Stunden)</b> oder <b>nimmt den Zug(z.B. London-Basel oder London-Amsterdam)</b> </li>
            <li> <b>Recycling Verhalten:</b> Die betreffende Person <b>recycelt alles</b> oder <b>recycelt nicht</b> </li>
            <li> <b>Arbeitsweg:</b> Die betreffende Person fährt jeden Tag die 20km zur und von der Arbeit, 5 Tage die Woche für 48 Wochen in Jahr <b>mit dem Fahrrad</b> oder <b>mit dem privaten Auto</b> </li>
            <li> <b> Trocknen der Wäsche:</b> Die betreffende Person trocknet entweder drei Ladungen Wäsche pro Woche <b>an der Luft </b> oder <b>oder in einem Wäschetrockner</b> </li>
           
    <br>
    </p>

        <br>     <br>
    <p style="font-size: 19px; ">
        <b style="font-size: 19px; "> Bitte stellen Sie sich den höchstmöglichen CO<sub>2</sub>-Fussabdruck anhand dieser 6 Verhaltensweisen vor</b> <br> 
    </p>


</body>
<body >  


<body > 

    
    <script>
     

        window.onload = function () {
            setTimeout(function () {
                document.getElementById("nextst").disabled = false;
            }, 9000); // 9 seconds delay
        };

    
    </script>

    <div >
        <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Weiter </button>

    </div>

</body>
{% endblock %}