{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }}
    Task
{{ endblock }}

{% block content %}
<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .left-column {
        flex: 2.5;
        padding: 30px;
        box-sizing: border-box;
    }
    .right-column {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }
    .mgslider-wrapper {
        border-spacing: 5px;
    }
    .mgslider-limit {
        width: 10%;
        min-width: 65px;
        height: 40px;
        margin: 90px;
        text-align: center;
        background: #eee;
        border: 1px solid #888;
    }
    .mgslider-limit, .mgslider-value {
        font-variant-numeric: tabular-nums;
    }
    .mgslider-before {
        height: 16px;
        width: 100%;
        background: #c9e7e4;
    }
    .mgslider-feedback {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .mean-value {
        font-weight: bold;
        margin-top: 10px;
    }
   
    .slider-container {
        margin-bottom: 5px;
    }
    .slider-label {
        display: flex;
        justify-content: space-between;
    }

    .slider-label img {
        width: 50px;  /* Set the desired width */
        height: 55px;  /* Maintain aspect ratio */
        margin-right: 20px;
    }

    .slider {
        width: 100%;
        margin: 0;
        background-color: #c9e7e4;
        background:  #c9e7e4;
        color:  #e14b80;;
    }
    .mean-label {
        background-color: #e7c9d9;
        font-size: 18px;
        font-weight: bold;
    } 
   
</style>

{{ formfield_errors 'recycling' }}
{{ formfield_errors 'car' }}
{{ formfield_errors 'meat' }}
{{ formfield_errors 'flying' }}
{{ formfield_errors 'nonRegionalFood' }}
{{ formfield_errors 'greenelectricity' }}

<p> Now, we ask you to make your own estimates, you can inform yourself from the other estimates or make your own <br> <br>

    Click the  bars to reveal the sliders.
</p>

<div class="container" > 
    <div class="left-column" > 
        <div id="sliders_here" > </div>
    </div>
    
    <div class="right-column" > 
        <div id="mean_values">
            <div class="slider-container">
                <p>Mean estimate made by other participants: </p>
                <div class="slider-label">
                    <span>0</span>
                    <span id="mean_flying_label" class="mean-label">{{ means.flying }}</span>
                    <span>2500</span>
                </div>
                <input type="range" min="0" max="2500" id="mean_flying_slider" class="slider" disabled>
            </div> <br> <br>
        
            <div class="slider-container">
                <p>Mean estimate made by other participants: </p>
                <div class="slider-label">
                    <span>0</span>
                    <span id="mean_meat_label" class="mean-label">{{ means.meat }}</span>
                    <span>2500</span>
                </div>
                <input type="range" min="0" max="2500" id="mean_meat_slider" class="slider" disabled>
            </div><br> <br>
        
            <div class="slider-container">
                <p>Mean estimate made by other participants: </p>
                <div class="slider-label">
                    <span>0</span>
                    <span id="mean_greenelectricity_label" class="mean-label">{{ means.greenelectricity }}</span>
                    <span>2500</span>
                </div>
                <input type="range" min="0" max="2500" id="mean_greenelectricity_slider" class="slider" disabled>
            </div> <br> <br>
        
            <div class="slider-container">
                <p>Mean estimate made by other participants: </p>
                <div class="slider-label">
                    <span>0</span>
                    <span id="mean_nonRegionalFood_label" class="mean-label">{{ means.nonRegionalFood }}</span>
                    <span>2500</span>
                </div>
                <input type="range" min="0" max="2500" id="mean_nonRegionalFood_slider" class="slider" disabled>
            </div><br> <br>
        
            <div class="slider-container">
                <p>Mean estimate made by other participants: </p>
                <div class="slider-label">
                    <span>0</span>
                    <span id="mean_car_label" class="mean-label">{{ means.car }}</span>
                    <span>2500</span>
                </div> 
                <input type="range" min="0" max="2500" id="mean_car_slider" class="slider" disabled>
            </div> <br> <br>
        
            <div class="slider-container">
                <p>Mean estimate made by other participants: </p>
                <div class="slider-label">
                    <span>0</span>
                    <span id="mean_recycling_label" class="mean-label">{{ means.recycling }}</span>
                    <span>2500</span>
                </div>
                <input type="range" min="0" max="2500" id="mean_recycling_slider" class="slider" disabled>
            </div>
        </div>

    </div>
</div>



<script src="{{ static 'global/mgslider.js' }}"></script>

<script>
    function liveSend(field, value) {
        console.log(`Sending data: field=${field}, value=${value}`);
        liveSendData({participant_id: js_vars.my_id, field: field, value: value});
    }

    function liveRecv(data) {
        console.log('Received data:', data);
        document.getElementById('mean_flying').innerText = data.flying ? data.flying.toFixed(2) : 'N/A';
        document.getElementById('mean_meat').innerText = data.meat ? data.meat.toFixed(2) : 'N/A';
        document.getElementById('mean_greenelectricity').innerText = data.greenelectricity ? data.greenelectricity.toFixed(2) : 'N/A';
        document.getElementById('mean_nonRegionalFood').innerText = data.nonRegionalFood ? data.nonRegionalFood.toFixed(2) : 'N/A';
        document.getElementById('mean_car').innerText = data.car ? data.car.toFixed(2) : 'N/A';
        document.getElementById('mean_recycling').innerText = data.recycling ? data.recycling.toFixed(2) : 'N/A';
    }

    
    $(document).ready(function (event) {
        const sliders = [
      
            {id: 'flying', label: 'How much kg CO<sub>2</sub> does <b> taking one round-trip medium distance flight (two 3-6 hour flights) emit?  </b>', imgSrc: '{{ static "global/images/flying.png" }}' },

            {id: 'meat', label: 'How much kg CO<sub>2</sub> does <b> following an omnivorous diet emit over the course of one year? </b>This diet includes eating meat and dairy products regularly. ',  imgSrc: '{{ static "global/images/meat.png" }}'},
            {id: 'greenelectricity', label: 'How much kg CO<sub>2</sub> <b> does consuming 7000 kWh of energy emit, considering that the energy is primarily based on fossil sources </b> (i.e. 60% fossil, 40% renewable sources)?', imgSrc: '{{ static "global/images/energy.png" }}' },
            {id: 'nonRegionalFood', label: 'How much kg CO<sub>2</sub> is emitted by one person over the course of one year <b>  when more than 3/4 of the consumed food items are imported </b> (i.e. not grown in your region)  ?', imgSrc: '{{ static "global/images/regional.png" }}'},
            {id: 'car', label: 'How much kg CO<sub>2</sub> does <b> commuting by public bus for 12.5 miles every day emit across one year? </b> Considering that the person commutes 5 days a week for 48 weeks per year. ?', imgSrc: '{{ static "global/images/commute.png" }}'},

            {id: 'recycling', label: 'How much kg CO<sub>2</sub> is emitted by one person<b> not recycling materials that could be recycled (i.e. glass, paper, aluminum) over the course of one year ? </b>' ,imgSrc: '{{ static "global/images/recycling.png" }}' },
];


        sliders.forEach(slider => {
            $('#sliders_here').append(`<div class="slider-label">
                <img src="${slider.imgSrc}" alt="${slider.label}">
                <label for="${slider.id}">${slider.label}</label>
            </div>`);
            const newSlider = new mgslider(slider.id, 0, 2500, 10);
            newSlider.print(document.getElementById("sliders_here"));

            newSlider.onchange = function(value) {
                liveSend(slider.id, value);
                console.log(`Slider ${slider.id} value: ${value}`);
            };
        });
    });
</script>

<script>
    function setSliderValue(sliderId, value) {
        var slider = document.getElementById(sliderId);
        if (value !== null && value !== undefined) {
            slider.value = value;
            var percentage = (value / slider.max) * 100;
            slider.style.background = `linear-gradient(to right, #c9e7e4 ${percentage}%, #ddd ${percentage}%)`;
        }
    }

    function liveRecv(data) {
        console.log('Received data:', data);
        document.getElementById('mean_flying_label').innerText = data.flying ? data.flying.toFixed(2) : 'No data yet';
        document.getElementById('mean_nonRegionalFood_label').innerText = data.nonRegionalFood ? data.nonRegionalFood.toFixed(2) : 'No data yet';
        document.getElementById('mean_meat_label').innerText = data.meat ? data.meat.toFixed(2) : 'No data yet';
        document.getElementById('mean_greenelectricity_label').innerText = data.greenelectricity ? data.greenelectricity.toFixed(2) : 'No data yet';
        document.getElementById('mean_car_label').innerText = data.car ? data.car.toFixed(2) : 'No data yet';
        document.getElementById('mean_recycling_label').innerText = data.recycling ? data.recycling.toFixed(2) : 'No data yet';

        setSliderValue('mean_flying_slider', data.flying);
        setSliderValue('mean_meat_slider', data.meat);
        setSliderValue('mean_greenelectricity_slider', data.greenelectricity);
        setSliderValue('mean_nonRegionalFood_slider', data.nonRegionalFood);
        setSliderValue('mean_car_slider', data.car);
        setSliderValue('mean_recycling_slider', data.recycling);
    }

    document.addEventListener('DOMContentLoaded', function() {
        setSliderValue('mean_flying_slider', {{ means.flying | default(0) | safe }});
        setSliderValue('mean_meat_slider', {{ means.meat | default(0) | safe }});
        setSliderValue('mean_greenelectricity_slider', {{ means.greenelectricity | default(0) | safe }});
        setSliderValue('mean_nonRegionalFood_slider', {{ means.nonRegionalFood | default(0) | safe }});
        setSliderValue('mean_car_slider', {{ means.car | default(0) | safe }});
        setSliderValue('mean_recycling_slider', {{ means.recycling | default(0) | safe }});

        // Add user input sliders
        
    });
</script>


<div class="next-btn radiotable">  
    <div style="float: right; padding-top: 2vh;">
         {% next_button %} 
    </div>
</div> 


{{ endblock }}



