{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }}
    Instructions on your task
{{ endblock }}

{{ block content }}
<div>
    In the following we will ask you to <b>judge the climate friendliness of different actions</b>. <br> 
    This means we ask you to give your best estimation of <b>how much kg CO<sub>2</sub> is associated with performing different actions. </b>  <br> 
    This is not something people commonly know, so we just ask you to make your best estimate without looking up any information. We are interested in your perceptions. <br> 
    <br> <br> 
    The actions we will ask you about include people's  diets, commuting and travel behavior as well as their electricity supply and recycling behavior. 
    Specifically, we ask you to estimate how much kg CO<sub>2</sub> each of these actions emit: <br><br>
    <ul> 
        <li> <b>Flying on vacation:</b> That is, taking one round-trip flight (i.e. 2 individual) medium distance (=3-6 hours) flight. </li>
        <li> <b>Meat-based diet:</b> That is, following an omnivorous diet which includes eating meat and dairy products regularly based on an average adults' caloric needs for the duration of one year. </li>
        <li> <b>Not recycling:</b> That is, not recycling materials such as paper, glass, plastic, or metals for the duration of one year. </li>
        <li> <b>Buying and eating imported foods:</b> That is, buying, preparing and eating imported food items that are not grown in your country or region such as certain fruits and vegetables for the duration of one year.</li>
        <li> <b>A fossil-based electricity supply:</b> That is, based on 7000 kWh energy demand of a person subscribed to an electricity supply that includes fossil and 40% renewable sources, for the duration of one year. </li>
        <li> <b>Commuting to work by bus:</b> That is, commuting a total of 12.5 miles to and from work everyday, 5 days a week for 48 weeks per year by bus for the duration of one year</li>
    
    </ul>

    <br> 

</div>

<div >
    <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Next </button>

</div>

</body>

{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 4 * 1000);
    }
</script>
{% endblock %}


