{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }}
    General Instructions
{{ endblock }}

{% block content %}

<div>

    <p>
         In the following we will ask you to <b>judge the climate impact of different actions</b>.  <br>
         This means we ask you to give <b>your best estimation of the amount of CO<sub>2</sub> that is associated with performing certain actions.</b>  <br>
         These actions include people's diets, commuting and travel behavior as well as their electricity supply and recycling behavior.  <br>
         
     </p>
     <p>
        Most of the actions we engage in in everyday life are associated with a certain amount of carbon dioxide (CO<sub>2</sub>) emissions. <br>
        This includes emissions from driving, flying, using electricity, cooling or heating your home, purchasing goods and other sources. <br>
        The amount of emissions associated with different actions, however differs largely depending on the action. Some actions cause only few emissions such as cycling or having cold showers, whereas other actions cause many more emissions such as using one's car or heating one's home to a high temperature in winter. <br>
        The climate impact of different actions is typically measured in CO<sub>2</sub> equivalents, allowing to include other greenhouse gases additional to CO<sub>2</sub> (e.g., methane). <br>
        The total amount of greenhouse gases (including CO<sub>2</sub> and methane) that are emitted into the atmosphere as a result of an individual's behavior is called carbon footprint.  It reflects an individual,s total impact on the climate system. <br> 
        In the United Kingdom each person has on average a total carbon footprint of about 4.7 tons. This is an average and can differ widely between people based on their income and lifestyle.<br>
        <br> 
         <b>To give you a better idea of the unit CO<sub>2</sub> emissions: An average car emits about 1'000 kg CO<sub>2</sub> (2'200 pound) for about every 2'500 miles driven. </b>
     </p>
     <p>
         You will be asked to make judgment about some actions on a <b>scale from 0 kg CO<sub>2</sub> to 2500 kg CO<sub>2</sub> (=6'250 miles driven in a car) </b>. <br> <br>
        Next, you will estimate the carbon impact of <b>6</b> different actions. <br> 
     </p>
 </div>


 <div >
    <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Next</button>

</div>

</body>

{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 2 * 1000);
    }
</script>
{% endblock %}
