{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }} Information for the task {{ endblock }}
{{ block content }}

<body>

<p> 
    In the following you will be able to try out a CO<sub>2</sub> calculator on your own.

    We will ask you to <b>try out different combinations of behaviors and create specific CO<sub>2</sub>-footprints</b> .<br>
    This is intended to give you a better understanding of the contribution of different behaviors to climate change. <br>
</p>

<br>
<p> 
    You will then answer 3 questions and then continue with the main task of the study. There you can apply the knowledge you have gained in this interactive task. <br>
<p>



<div >
    <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary">Weiter</button>

</div>

</body>

{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 2 * 1200);
    }
</script>
{% endblock %}
