{% block styles %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .behavior-container {
        margin-bottom: 15px;
        font-weight: plain;
    }
    .behavior-label {
        font-weight: plain;
        line-height: normal;
    }
    select {
        margin-left: 10px;
    }
    h1 {
        color: #000000;
        font-size: 40px;
    }
    .container {
    display: flex;
    flex-direction: row; /* Always side by side */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }

    /* Columns always next to each other */
    .left-column {
        flex: 0 0 60%;
        padding: 10px;
        box-sizing: border-box;
    }

    .right-column {
        flex: 0 0 40%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #total-footprint-top,
    #total-footprint-bottom {
        font-size: 32px;
        text-align: center;
    }


    /* Make everything scale better on small screens */
    @media (max-width: 760px) {
        body {
            font-size: 14px;
        }

        .left-column {
        flex: 0 0 55%;
        padding: 5px;
        }

        .right-column {
            flex: 0 0 45%;
            padding: 5px;
        }

        .progress-bar-container {
        width: 100px !important;
        height: 280px !important;
        border-width: 2px !important;
        }

        h2 {
            font-size: 16px !important;
            text-align: center;
        }

        #total-footprint {
            font-size: 18px !important;
            text-align: center;
        }

        #total-footprint-top,
        #total-footprint-bottom {
            font-size: 18px !important;
            text-align: center;
        }

        .progress-bar-section {
            transition: height 0.3s;
        }

        select {
            font-size: 14px;
            width: 100%;
        }

        .behavior-label {
            font-size: 14px;
            line-height: normal;
        }
    }


    h2 {
        font-weight: plain;
        color: #000000;
        font-size: 28px;
        padding-left: 5px;
        text-align: center;
    }
    .progress-bar-wrapper {
        padding: 1px 5px 5px 20px; /* top right bottom left */
    }
    .progress-bar-container {
        width: 140px;
        height: 380px; /* Represents 10 tons CO₂eq */
        background-color: #ffffff;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        border-left: none;
        border-right: none;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse; /* Fill from bottom up */
        margin-top: 1px;
    }
    .progress-bar-section {
        width: 100%;
        transition: height 0.4s;
    }
    .section-1 { background-color: #CBE4F9;border: 1px solid rgb(65, 64, 64); } /* Color for Diet */
    .section-2 { background-color: #CDF5F6;border: 0.4px solid rgb(65, 64, 64);  } /* Color for laundry */
    .section-3 { background-color: #F9D8D6;border: 1px solid rgb(65, 64, 64); ; } /* Color for Recycling before was 5 */ 
    .section-4 { background-color: #F9EBDF;border: 0.4px solid rgb(65, 64, 64); ; }/* Color for Food */
    .section-5 { background-color: #EFF9DA;border: 0.4px solid rgb(65, 64, 64); ; } /* Color for commute */
    .section-6 { background-color: #D6CDEA;border: 1px solid rgb(65, 64, 64);  } /* Color for Vacation */

    /* Add corresponding background colors for the select elements */
    .select-diet { background-color: #CBE4F9; }
    .select-laundry { background-color: #CDF5F6; }
    .select-recycling { background-color: #F9D8D6; }
    .select-food { background-color: #F9EBDF; }
    .select-commute { background-color: #EFF9DA; }
    .select-vacation { background-color: #D6CDEA; }
</style>
{% endblock %}

{% block content %}
<body>
    <h1>Distance calculator </h1>
    <br>
<body style="font-size: 21px;">
    <p style="font-size: 21px;">  
        Imagine you are putting together a fictitious journey through the United Kingdom during which you visit friends and relatives in certain cities.  <br>  <br>
        In this interactive display, you can combine different routes and observe how the total distance changes. 
        The distances shown are based on typical driving distances (not direct linear distances).  <br>
        If you click on the boxes, you can select different destinations for selected cities.
        The total distance associated with the selection will be adjusted and displayed on the right side of your screen. The bar will fill with different colors depending on the selected cities, with each color representing the distance in miles. <br>

        <br>
    <p>

    <p style="font-size: 21px;"> 
        <b>Please create the highest possible total distance to continue</b>
    </p>
    <br>


    
    <div class="container"> 
        <div class="left-column"> 
            <form id="carbon-footprint-form">
                <!-- Explicitly set classes for each behavior -->
                <div class="behavior-container">
                    <label class="behavior-label">Travel distance from Londn(not as the crow flies)</label>
                    <select class="select-diet" name="diet" onchange="updateTotalFootprint()">
                        <option value="59">London-Cambridge</option>
                        <option value="118">London-Bristol</option>
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Travel distance from Oxford (not as the crow flies) </label>
                    <select class="select-laundry" name="laundry" onchange="updateTotalFootprint()">
                        <option value="184">Oxford-York</option>
                        <option value="66">Oxford-Bath</option> 
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Travel distance from Exeter (not as the crow flies) <br>  </label>
                    <select class="select-recycling" name="recycling" onchange="updateTotalFootprint()">
                        <option value="284">Exeter-Norwich</option>
                        <option value="159">Exeter-Birmingham</option>
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Travel distance from Liverpool (not as the crow flies)</label>
                    <select class="select-food" name="food" onchange="updateTotalFootprint()">
                        <option value="353">Liverpool-Aberdeen</option>
                        <option value="200">Liverpool-Cardiff</option>
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Travel distance from Edinburgh (not as the crow flies) </label>
                    <select class="select-commute" name="commute" onchange="updateTotalFootprint()">
                        <option value="182">Edinburgh-Leeds</option>
                        <option value="433">Edinburgh-Portsmouth</option>
                    </select>
                </div>

                <div class="behavior-container">
                    <label class="behavior-label">Travel distance from Glasgow (not as the crow flies) <br> </label>
                    <select class="select-vacation" name="vacation" onchange="updateTotalFootprint()">
                        <option value="402"> Glasgow-London</option>
                        <option value="392">Glasgow-Cardiff </option>
                    </select>
                </div>
            </form>
            <br>
        </div>

        <div class="right-column"> 
            <h2>Total travel distance in miles:</h2> 
            <span  id="total-footprint-top">Click on the cities to find out</span>
            <div class="progress-bar-wrapper"></div>
                <div class="progress-bar-container">
                    <!-- Sections for each behavior -->
                    <div class="progress-bar-section section-6" id="section-6"></div> <!-- Vacation -->
                    <div class="progress-bar-section section-5" id="section-5"></div> <!-- Food -->
                    <div class="progress-bar-section section-4" id="section-4"></div> <!-- commute -->
                    <div class="progress-bar-section section-3" id="section-3"></div> <!-- rec -->
                    <div class="progress-bar-section section-2" id="section-2"></div> <!-- Diet -->
                    <div class="progress-bar-section section-1" id="section-1"></div> <!-- Laundry -->
                </div>
                <br>
            <span  id="total-footprint-bottom">Click on the cities to find out</span>
            <br>
        </div>
    </div>

    <script>
        const behaviorData = {{ control_data|safe }};
        const totalFootprintTop = document.getElementById('total-footprint-top');
        const totalFootprintBottom = document.getElementById('total-footprint-bottom');
        const sections = [
            document.getElementById('section-1'),
            document.getElementById('section-2'),
            document.getElementById('section-3'),
            document.getElementById('section-4'),
            document.getElementById('section-5'),
            document.getElementById('section-6')
        ];
        const minFootprint = 1055;
        const maxFootprint = 1775;  // Container represents up to 10 tons CO2eq


        function updateTotalFootprint() {
            let totalFootprint = 0.0;
            const selects = document.querySelectorAll('.behavior-container select');
            let values = [];

            selects.forEach(select => {
                const value = parseFloat(select.value);
                if (!isNaN(value)) {
                    values.push(value);
                    totalFootprint += value;
                }
            });

            // Make sure the total footprint doesn't exceed the max footprint (6 tons in this case)
            totalFootprint = Math.min(Math.max(totalFootprint, minFootprint), maxFootprint);
            totalFootprintTop.innerText = totalFootprint.toFixed(0);
            totalFootprintBottom.innerText = totalFootprint.toFixed(0);

            // Calculate the proportionate height of each section
            const totalHeight = (totalFootprint / maxFootprint) * 100;
            values.forEach((value, index) => {
                const sectionHeight = (value / totalFootprint) * totalHeight;
                sections[index].style.height = `${sectionHeight}%`;
            });

            // Check if the total footprint is exactly 5.54, and enable the "Next" button if true
            const nextButton = document.getElementById("nextst");
            if (parseFloat(totalFootprint) === 1774) {
                nextButton.disabled = false;
            } else {
                nextButton.disabled = true;
            }
        }
            // Initial calculation
        updateTotalFootprint();
  

    </script>

    <div >
        <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Weiter </button>

    </div>

</body>
{% endblock %}