{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">

    <style>
        .text {
            font-size: 19px
        }
    </style>
    
{% endblock %}

{% block content %}
<body>
    <h1>Carbon Footprints</h1>
    <br>

    <p style="font-size: 19px;"> 
        A personal carbon footprint refers to the total amount of greenhouse gases (including CO<sub>2</sub>  and methane) that are emitted into the atmosphere as a result of an individual,s behavior. <br> 
        The carbon footprint thus includes emissions from driving, flying, using electricity, cooling or heating your home, purchasing goods and other sources. <br> 
       
        In other words, <b>a personal carbon footprint reflects an individual's total impact on the climate system</b>. 
        <br>
    <p>

    <p style="font-size: 19px;"> To give you some more information about carbon footprints, here you can see some different combinations of behaviors, and how this affects the overall size of the carbon footprint. <br> 
        The different lifestyles you will see concern 6 example behaviors: <ul> 
            <li> <b>Dietary behavior: </b> <br> The respective person either follows a <b>meat-based diet (omnivorous)</b> or a <b>plant-based diet (vegetarian)</b> </li> 
            <li> <b>Recycling behavior:</b> <br> The respective person either <b>recycles comprehensively</b> or <b>does not recycle</b> </li>  
            <li> <b>Regionality of food purchases:</b> <br> The respective person either buys and consumes <b>mainly regional food </b> or <b>also imported</b> food items </li>
            <li> <b>Laundry drying:</b> <br> The respective person either dries their laundry <b>using the dryer</b> or <b>air dries it</b> based on 3 drying loads per week and the average energy mix </li> 
            <li> <b>Commuting to work:</b> <br> The respective person either commutes a total of 20km to and from work everyday, 5 days a week for 48 weeks per year <b>by personal car</b>  or <b>by bus</b> </li> 
            <li> <b>Traveling on vacation:</b> <br> The respective person either <b>takes two medium distance flights a year (=3-6hours)</b> or <b>or takes the train (e.g. London-Paris or London-Switzerland)</b> </li>
        
        
        <br>
        <b> Please imagine the highest possible carbon footprint given these 6 behaviors</b> <br> <br>
        On the next page you will see some examples with the associated carbon footprint in tons of CO<sub>2</sub>.
    </p>


    <script>
     

        window.onload = function () {
            setTimeout(function () {
                document.getElementById("nextst").disabled = false;
            }, 9000); // 9 seconds delay
        };

    
    </script>

    <div >
        <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Next </button>

    </div>

</body>
{% endblock %}