{% block styles %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .behavior-container {
        margin-bottom: 20px;
        
    }
    .behavior-label {
        font-weight: bold;
        
    }
    select {
        margin-left: 10px;
    }
    h1, h2 {
        color: #000000;
        font-size: 40px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .left-column {
        flex: 2.5;
        padding: 30px;
        box-sizing: border-box;
    }
    .right-column {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }
    h2{
        font-weight: plain;
        color: #000000;
        font-size: 38px;
    }
</style>
{% endblock %}

{% block content %}
<body>
    <h1>Carbon Footprints </h1>
    <br>
    
<body style="font-size: 19px; ">

    <p style="font-size: 19px; "> To give you some more information about carbon footprints, here you can see some different combinations of behaviors, and how this affects the overall size of the carbon footprint. <br> 
    </p>


    <p style="font-size: 19px; "> Below you will see one more example of a carbon footprint based on the six introduced behaviors: 
        <br>
        <br>
        <br>

        <b>A high carbon lifestyle could look like this:</b> <br> 
        <img style="width:75%; height: 75%;  border: #000000 3px outset; " src="/static/global/images/ExampleHigh.png">
        <br> <br> 

        <b> For comparison, a medium carbon lifestyle  could look like this:</b> <br> 
        <img style="width:75%; height: 75%;  border: #000000 3px outset; " src="/static/global/images/ExampleMid.png">
    </p>

    <p>
        <br>
        {{ formfield 'controlQuestion1' }} <br>
        {{ formfield 'controlQuestion2' }} <br>
        {{ formfield 'controlQuestion3' }} <br>
    
    </p>
</body>

<body>
    <script>
     

        window.onload = function () {
            setTimeout(function () {
                document.getElementById("nextst").disabled = false;
            }, 6000); // 9 seconds delay
        };

    
    </script>

    <div >
        <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary"> Next </button>

    </div>

</body>
{% endblock %}