{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }} Anweisungen zur Aufgabe {{ endblock }}
{{ block content }}

<body>

<p> 
    CO<sub>2</sub>-Fussabdrücke werden typischerweise in CO<sub>2</sub>-Äquivalenten gemessen, sodass andere Treibhausgase zusätzlich zu CO<sub>2</sub> (z. B. Methan) ebenfalls einbezogen werden. 

    Da die internationale Masseinheit hierfür „metrische Tonnen und Kilos“ ist, werden wir Sie bitten, <b>Ihre Schätzungen in kg CO<sub>2eq</sub> </b>vorzunehmen. <br>
    1 metrische Tonne CO<sub>2</sub> entspricht 1000 kg CO<sub>2</sub>.
    <br>
    In der Schweiz hat jede Person im Durchschnitt einen CO<sub>2</sub>-Fussabdruck von etwa 14000 kg CO<sub>2</sub>. Dies ist ein Durchschnittswert, der je nach Einkommen und Lebensstil stark variieren kann.<br>
    <b>Um Ihnen eine bessere Vorstellung von der Einheit CO<sub>2</sub>-Emissionen zu geben: Ein durchschnittliches Dieselauto (7 L/100km) bzw. Benzinauto (7.7 L/100km) stösst etwa 1'000 kg CO<sub>2</sub> pro 3'200 gefahrenen Kilometern aus. </b> 
</p>
<p>
    Bitte beachten Sie, dass die individuellen CO<sub>2</sub>-Fussabdrücke, die Sie bewerten werden, <b>vereinfacht</b> sind und nur auf 6 Verhaltensweisen basieren. Daher stellen diese Verhalten nicht den tatsächlichen gesamten CO<sub>2</sub> -Fussabdruck einer Person dar. <br> 
<br>
    Als Nächstes werden Sie die Verhaltensweisen und ein Beispiel CO<sub>2</sub>-Fussabdruck sehen .<br> 
    Dann bitten wir Sie, den <b>CO<sub>2</sub>-Fussabdruck von 16 Personen mit unterschiedlichen Lebensstilen basierend auf den präsentierten Verhalten zu schätzen </b> .
</p>


<div >
    <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary">Weiter</button>

</div>

</body>

{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 9 * 1000);
    }
</script>
{% endblock %}
