{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }} Instructions on your task {{ endblock }}
{{ block content }}

<body>

<p> 
    Carbon footprints are typically measured in CO<sub>2</sub> equivalents, allowing to include other greenhouse gases additional to CO<sub>2</sub> (e.g., methane). 

    Since the international unit for measuring this is 'metric tons and kilos', we will ask you to <b>make your estimates in kg of CO<sub>2eq</sub> </b>. <br>
    1 metric ton CO<sub>2</sub> equals 1000 kg CO<sub>2</sub>. And 1000 kg equal 2205 pounds. <br> 
    <br>
    In the United Kingdom each person has on average a total carbon footprint of about 7200 kgs. This is an average and can differ widely between people based on their income and lifestyle.<br>
    <b>To give you a better idea of the unit CO<sub>2</sub> emissions: An average petrol car (36 miles per gallon) or diesel car (43 mpg) emits about 1'000 kg CO<sub>2</sub> (2'205 pounds) for about every 2'000 miles driven. </b>
</p>
<p>

    Please note that the individual carbon footprints you will assess are <b>simplified</b>, based on only 6 behaviors, so they do not account for a person's entire carbon footprint.  <br>     

    Next you will see the behaviors and an example carbon footprint.<br> 
    Then we ask you to <b>estimate the carbon footprints of 16 persons with different lifestyles based on the six presented behaviors </b> .

</p>


<div >
    <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary">Next</button>

</div>

</body>

{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 7 * 1000);
    }
</script>
{% endblock %}
