{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}




{{ block title }}  Instructions on your task  {{ endblock }}
{{ block content }}

<style>
    @media only screen and (min-width: 701px) {
            .image {
                width: 100%;
            }
        }
    
        @media only screen and (max-width: 700px) {
            .radiotable {
                width: 60%;
            }
        }
    </style>

<p> 
The different lifestyles of these individuals refer to: <ul> 
    <li> <b>Dietary behavior (based on 2000 kcal average daily requirement):</b> The respective person either follows a <b>meat-based diet (omnivorous)</b> or a <b>plant-based diet (vegetarian)</b> </li> 
    <li> <b>Recycling behavior:</b> The respective person either <b>recycles comprehensively</b> or <b>does not recycle</b> </li>  
    <li> <b>Regionality of food purchases:</b> The respective person either buys and consumes <b>mainly regional food </b> or <b>also imported</b> food items </li>
    <li> <b>Drying laundry:</b> The respective person either dries three loads of laundry every week<b> by air drying them </b> or <b>using a tumble dryer</b> </li> 
    <li> <b>Commuting to work:</b> The respective person either commutes a total of 20km to and from work everyday, 5 days a week for 48 weeks per year <b>by personal car</b>  or <b>by bus</b> </li> 
    <li> <b>Traveling on vacation:</b> The respective person either <b>takes two medium distance flights a year (=3-6hours)</b> or <b>or takes the train (e.g. London-Paris or London-Switzerland) </b> </li>

<br>  
    
</p>
<p>
    <b>The emissions for each behavior refer to the total combined emissions for an entire year </b>, e.g. for diet this means the emissions a person emits based on their diet and average caloric needs of a person across the course of a full year<br>
</p>


<p>
    This is how a carbon footprint of an individual looks like in our task. <br>
    
    <div class="image" style="text-align: left;   "><img src='/static/global/images/example_en.png' style=" max-width:100%;    overflow-x: auto;" /></div>


<br>
</p>

<p>
<i>That is, in the example above, the person follows a meat-based diet, eats regional and imported food, air dries their laundry, takes the train to go on vacation, commutes every weekday to work by car, and does not recycle.</i>  <br> 

</p>
<br>

<p>
    Next, you will estimate the carbon footprint of <b>16</b> persons with different lifestyles. <br> 
    Please look at each individual carbon footprint carefully and take some time to provide your estimation. <br> 
    The order in which the 6 behaviors are presented will change across the 16 examples you will see.
</p>

<div >
    <button id="nextst" style="float: right; margin-top: 2vh;" disabled class="otree-btn-next btn btn-primary">Next</button>

</div>
{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 10 * 1000);
    }
</script>
{% endblock %}
