{% block styles %}
    <link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
    <link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}
 {% endblock %}

{% block content %}


<table class="radiotable2" style="width:100%; margin-left: auto; margin-right:auto; table-layout: fixed;" >
    <tbody>
        <tr></tr>
        <tr> <th colspan="6" style="font-weight:normal;" id="id_belief1Happening" name="belief1Happening"> {{  form.belief1Happening.label }} </th> </tr>
        <tr>
        
            <td class="radio-column" colspan="3" style="text-align: left;"> Completely disagree </td>
            <td class="radio-column" colspan="3" style="text-align: right;"> Completely agree</td>
        </tr>

        <tr>
            {{ for choice in form.belief1Happening }}
            <td style="text-align: center;">{{ choice }}</td>
            {{ endfor }}
        </tr>
    </tbody>
</table>

<br>


<br>



<div class="next-btn radiotable">
    <div style="float: right; padding-top: 2vh;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">Next</button>
 
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'global/js/functions.js' %}" defer></script>

<script>

   

</script>
{% endblock %}