
{% block styles %}
<link href="{{ static 'global/css/generalStyle.css'}}" rel="stylesheet">
<link href="{{ static 'global/css/customStyle.css'}}" rel="stylesheet">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}




<div class="mb-3 _formfield">
    
    <label class="col-form-label" for="id_generalFeedback">{{form.generalFeedback.label }}</label>
    <div class="controls">
        <textarea style="width:80%" class="form-control" rows="4" id="id_generalFeedback" name="generalFeedback"></textarea>
    </div>
    {% formfield_errors 'generalFeedback' %}
</div>
<br>
Please tell us, how knowledgeable you feel about the effect of different behaviors on carbon footprints. 
For example, how much emissions a persons food consumption (vegetarian, meat-based, etc.) or their commuting behavior (bus, bike, car,..) contribute to their overall carbon footprint.
<br> 
{{ formfield 'subjectiveKnowledge' }} <br>

    


<div class="next-btn radiotable">
    <div style="float: right; padding-top: 2vh;">
        <button id="nextst"  style=" margin-top: 4vh;" class="otree-btn-next btn btn-primary">Next</button>
 
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>

</script>


{% endblock %}


